@page
@model MyWebpage.Pages.One_CoinModel
@{
}
@{
    ViewData["Title"] = "One Coin";
}
<h1>@ViewData["Title"]</h1>


<style>
    body {
        width:100vw;
        height:100vh;
        background-position: left center;
    }

    .bg-img{
        background-image: url('/imgs/one coin lite.png')
    }


</style>



<body class="bg-img">
<div class="text-center">
<p><br>here is guide on how to buy one coin.<br>

    <br>1. you must have meta mask if dont know that is<a target ="_black" href ="https://www.youtube.com/results?search_query=how+to+install+meta+mask+son+of+a+tech/"> click here </a><br>

    <br>2. you must add your meat mask to pancake swap<a target ="_black" href ="https://www.youtube.com/watch?v=niSsd9xA3fo/"> click here</a><br>

    <br>3. now you need to look up the coin by its contract where you look up coins copy and paste 0xCc6233c774472CcEd5D280eF7150Cf1df2279aFB<br>

    <br>4. Now the coin should be showing up hit import and you wallet can now hold and trade One1 coin.<br>
</p>
</div>
</body>