@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>

<p> This was made for me to work on learn and refining my html skills and showing off what I can come up with thank you for visting
</p>
